.categoryView {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryListBox {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 50%;
}

.oneCategory {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  margin-right: 5px;
}

.newCategoryButton {
  width: 200px;
}

.categoryFormBox {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 2px 2px grey;
  background-color: lightgrey;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}
